
.agendamento {
  background-color: #36ab9c;
  color: white;
  border-radius: 15px;  
} 

.agendamento-header {
  border-bottom: 1px solid #f1f1f1;
  background-color: #2d9184;
  color: white;
  
}

.agendamento-titulo {
  color: white;
  margin: 0;
  
}
p {
  text-indent: 30px; /* Define o recuo do início do parágrafo */
}

/* Remove o recuo dos parágrafos dentro de uma div com a classe 'info' */
.info p {
  text-indent: 0px; /* Define o recuo do início do parágrafo como 0px */
}

.custom-image {
  width: 100%;
  height: 274px; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
  border-radius: 10px; /* Arredondamento das bordas */
}

.btn-plano {
  font-size: 0.85rem;
  border-radius: 20px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 5px; /* Espaço reduzido entre os botões */
  border: none;
  background-color: #36ab9c;
  color: white;
}



/* Estilo para estado ativo */
.btn-plano.active {
  background-color: #38beaa; /* Mesma cor do hover */
  transform: scale(1.02); /* Efeito de "pressionado" */
  box-shadow: 0 6px 12px rgba(0, 80, 15, 0.3); /* Sombra mais intensa */
}


form select option:hover { 
  cursor: pointer; 
 background-color: #3bd0bc;
 }
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e6f2f0; /* Variação de verde mais claro */
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ccdedb; /* Outra variação de verde mais claro */
}

.table thead th {
  background-color: #3bd0bc; /* Fundo verde escuro */
  color: white; /* Texto branco */
  font-weight: bold; /* Texto em negrito */
  text-align: center; /* Texto centralizado */
}



form select, 
form input[type="date"] {
  cursor: pointer; /* Muda o cursor para pointer */
}
.form-label:not(.modal .form-label) {
  color: var(--bs-secondary);
}
 
.cor-pink {
    color: #bc155b;
  
  
}
.btn-pink {
  background-color: #bc155b;
  color: white;
  border-radius: 20px;
  padding: 5px 10px; /* Ajustado para maior largura */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-pink:hover {
  background-color: #9c2456;
  font-weight: bold;
  transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao redor do botão */
}

.btn-pink:active {
  transform: scale(1); /* Remove a escala ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra um pouco mais suave ao clicar */
}
footer {
  
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilização personalizada para o calendário */
.react-calendar {
  font-family: 'Arial', sans-serif;
  background-color: #ccdedb;
}

.react-calendar__navigation button {
  color: black !important; /* Cor dos botões de navegação */
  background-color: #36ab9c !important; /* Fundo verde */
}

.react-calendar__month-view__days__day {
  color: black !important; /* Cor dos dias */
}

.react-calendar__tile--active {
  background-color: #3bd0bc !important; /* Fundo verde ativo */
  color: black !important; /* Cor do texto */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #38beaa !important; /* Fundo verde mais claro ao hover/focus */
}

.react-calendar__month-view__weekdays__weekday {
  color: black !important; /* Cor dos dias da semana */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #bc155b !important; /* Fundo rosa ao hover/focus */
  color: white !important; /* Cor do texto ao hover/focus */
}

