{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="card shadow">
        <div class="card-header text-center text-primary fw-bold">
            <h2>Detalhes do Agendamento</h2>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Cliente:</strong> {{ agendamento.cliente.nome }}</p>
                    <p><strong>Serviço:</strong> {{ agendamento.servico.nome_servico }}</p>
                    <p><strong>Plano:</strong>
                        {% if agendamento.plano %}
                        {{ agendamento.plano.nome }} - R$ {{ agendamento.plano.valor }}
                        {% else %}
                        Não há plano associado
                        {% endif %}
                    </p>
                    <p><strong>Valor:</strong>
                        {% if agendamento.plano %}
                        R$ {{ agendamento.plano.valor }}
                        {% else %}
                        R$ {{ agendamento.servico.valor }}
                        {% endif %}
                    </p>
                    <p><strong>Status:</strong> 
                        <span class="
                            {% if agendamento.status == 'Confirmado' %}text-success{% elif agendamento.status == 'Pendente' %}text-info{% elif agendamento.status == 'Remarcado' %}text-warning{% else %}text-muted{% endif %}
                            text-center">
                            {{ agendamento.status }}
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Data e Hora:</strong> {{ agendamento.data_e_hora|date:"d/m/Y H:i" }}</p>
                    <p><strong>Colaborador:</strong> {{ agendamento.colaborador.nome }}</p>
                    <p><strong>Clínica:</strong> {{ agendamento.colaborador.clinica.nome }} - {{ agendamento.colaborador.clinica.endereco }}, {{ agendamento.colaborador.clinica.bairro }}, {{ agendamento.colaborador.clinica.cidade }} - {{ agendamento.colaborador.clinica.estado|slice:":2"|upper }} <br>
                    </p>
                    <p><strong>Telefone:</strong> {{ agendamento.colaborador.clinica.telefone }}
                     </p>
                     
                </div>
            </div>
            <div class="mt-4 text-center">
               
                <a href="{% url 'confirmar_agendamento' agendamento.id %}" class="btn btn-success btn-sm mx-2">Confirmar</a>
                <a href="{% url 'cancelar_agendamento' agendamento.id %}" class="btn btn-danger btn-sm mx-2">Cancelar</a>
                {% if request.session.role == 'cliente' %}
                <a href="{% url 'remarcar_agendamento' agendamento.id %}" class="btn btn-warning btn-sm mx-2">Solicitar Reagendamento</a>
            {% else %}
                <a href="{% url 'remarcar_agendamento' agendamento.id %}" class="btn btn-warning btn-sm mx-2">Atualizar Agendamento</a>
            {% endif %}
            
                <a href="{% url 'visualizar_agendamentos'%}" class="btn btn-secondary btn-sm mx-2">Voltar</a>
                
            </div>
        </div>

        
    </div>
</div>
{% endblock %}
