{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container my-5">
    <div class="card shadow">
        <div class="card-header">
            <h2 class="text-center text-primary">Cadastrar Colaborador</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'cadastrar_colaborador' %}">
                {% csrf_token %}
                {% if messages %}
                <div>
                    {% for message in messages %}                    
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <label for="id_username" class="form-label text-secondary">Nome de Usuário*</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="id_nome" class="form-label text-secondary">Nome*</label>
                        {{ form.nome|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="id_cpf" class="form-label text-secondary">CPF* <small>(apenas números)</small></label>
                        {{ form.cpf|add_class:"form-control" }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-2">
                        <label for="id_sexo" class="form-label text-secondary">Sexo*</label>
                    <select id="id_sexo" name="sexo" class="form-control">
                        <option value="">Selecione o Sexo</option>
                        {% for value, display in form.sexo.field.choices %}
                        <option value="{{ value }}" {% if form.sexo.value == value %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="col-12 col-md-4">
                        <label for="id_email" class="form-label text-secondary">Email*</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="id_email2" class="form-label text-secondary">Confirmar E-mail*</label>
                        {{ form.email2|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-2">
                        <label for="id_clinica" class="form-label text-secondary">Clínica*</label>
                        {{ form.clinica|add_class:"form-control" }}
                    </div>
                    
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="id_senha" class="form-label text-secondary">Senha*</label>
                        {{ form.senha|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="id_senha2" class="form-label text-secondary">Confirmar Senha*</label>
                        {{ form.senha2|add_class:"form-control" }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <label for="id_telefone" class="form-label text-secondary">Telefone*</label>
                        {{ form.telefone|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="id_cargo" class="form-label text-secondary">Cargo*</label>
                        {{ form.cargo|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="id_bairro" class="form-label text-secondary">Bairro</label>
                        {{ form.bairro|add_class:"form-control" }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="id_endereco" class="form-label text-secondary">Lougradouro</label>
                        {{ form.endereco|add_class:"form-control" }}
                    </div>
                    <div class="col-6 col-md-2">
                        <label for="id_estado" class="form-label text-secondary">Estado*</label>
                        {{ form.estado|add_class:"form-control" }}
                    </div>
                    
                    <div class="col-6 col-md-2">
                        <label for="id_cidade" class="form-label text-secondary">Cidade*</label>
                        {{ form.cidade|add_class:"form-control" }}
                    </div>
                    
                </div>



                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-login w-auto mx-auto">
                            <i class="bi bi-person-plus"></i> Cadastrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
    const estadoField = document.getElementById('id_estado');
    const cidadeField = document.getElementById('id_cidade');

    estadoField.addEventListener('change', function() {
        const estado = estadoField.value;

        if (estado) {
            // Requisição para o backend para obter as cidades do estado selecionado
            fetch(`/usuarios/cidades/${estado}/`)
                .then(response => response.json())
                .then(data => {
                    // Limpa as opções existentes
                    cidadeField.innerHTML = '<option value="">Selecione a cidade</option>';

                    // Adiciona as novas opções de cidades
                    data.forEach(cidade => {
                        const option = document.createElement('option');
                        option.value = cidade.nome;
                        option.textContent = cidade.nome;
                        cidadeField.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro ao carregar as cidades:', error);
                    cidadeField.innerHTML = '<option value="">Erro ao carregar cidades</option>';
                });
        } else {
            cidadeField.innerHTML = '<option value="">Selecione a cidade</option>';
        }
    });
});




</script>


{% endblock %}