{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">    

    <div class="row justify-content-center">
        <!-- Botão para Cliente -->
        <div class="col-md-3 mb-4">
            <a href="{% url 'cadastrar_cliente' %}" class="btn btn-login btn-block shadow-lg">
                <i class="bi bi-person-fill"></i> Cadastrar como Cliente
            </a>
        </div>
        <!-- Botão para Colaborador -->
        <div class="col-md-3 mb-4">
            <a href="{% url 'cadastrar_colaborador' %}" class="btn  btn-login btn-block shadow-lg">
                <i class="bi bi-person-workspace"></i> Cadastrar como Colaborador
            </a>
        </div>
    </div>
</div>

{% endblock %}



