{% extends "base.html" %}

{% block content %}
<div class="container py-5 background-gif">
    <div class="row align-items-center agendamentoback">

        <!-- Form Section -->
        <div class="col-md-6">

            <div class="card shadow-lg border-0">
                <div class="card-header text-center rounded-top">
                    <h3 class="fw-bold text-primary">Agendar Atendimento</h3>
                </div>
                <div class="card-body p-4">
                    <form id="agendamento-form" method="post">
                        {% csrf_token %}

                        <!-- Clínica -->
                        <div class="mb-3">
                            <label for="clinica" class="form-label">Clínica</label>
                            <select id="clinica" name="clinica" class="form-select" required>
                                <option value="" disabled selected>Selecione uma clínica</option>
                                <!-- Clínicas serão populadas via JavaScript -->
                            </select>
                        </div>

                        <!-- Serviço -->
                        <div class="mb-3">
                            <label for="servico" class="form-label">Serviço</label>
                            <select id="servico" name="servico" class="form-select" required>
                                <option value="" disabled selected>Selecione um serviço</option>
                                <!-- Serviços serão populados via JavaScript -->
                            </select>
                        </div>

                        <!-- Valor do Serviço (apenas para Fisioterapia) -->
                        <div class="mb-3" id="valor-div" style="display: none;">
                            <label for="valor" class="form-label">Valor do Serviço</label>
                            <input type="text" id="valor" name="valor" class="form-control" readonly>
                        </div>

                        <!-- Plano (apenas para Pilates) -->
                        <div class="mb-3" id="planos-div" style="display: none;">
                            <label for="planos" class="form-label">Plano</label>
                            <select id="planos" name="plano" class="form-select">
                                <option value="" disabled selected>Selecione um plano</option>
                                <!-- Os planos serão populados via JavaScript -->
                            </select>
                        </div>


                        <!-- Colaborador -->
                        <div class="mb-3">
                            <label for="colaborador" class="form-label">Colaborador</label>
                            <select id="colaborador" name="colaborador" class="form-select" required>
                                <option value="" disabled selected>Selecione um colaborador</option>
                                <!-- Colaboradores serão populados via JavaScript -->
                            </select>
                        </div>

                        <!-- Data -->
                        <div class="mb-3">
                            <label for="data" class="form-label">Data</label>
                            <input type="date" id="data" name="data" class="form-control" required min=""
                                onchange="verificarDataValida()">
                        </div>


                        <!-- Hora -->
                        <div class="mb-3">
                            <label for="hora" class="form-label">Hora</label>
                            <select id="hora" name="hora" class="form-select" required>
                                <option value="" disabled selected>Selecione um horário</option>
                                <!-- Horários disponíveis serão populados via JavaScript -->
                            </select>
                        </div>

                        <!-- Cliente -->
                        <div class="mb-3">
                            <label for="cliente" class="form-label">Cliente</label>
                            <select id="cliente" name="cliente" class="form-select" required>
                                <option value="" disabled selected>Selecione um cliente</option>
                                <!-- Clientes serão populados via JavaScript -->
                            </select>
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-signup w-100">Agendar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Image Section -->
        <div class="col-md-6">
            <div class="row justify-content-start">
                <div class="col-md-1 d-flex flex-column flex-md-column flex-sm-row">
                    <!-- Logo Images -->
                    <img src="/static/img/logo2.png" alt="Logo 3"
                        class="animate-subir-descer3 me-2 img-fluid max-size imagens-container">
                    <img src="/static/img/logo3.png" alt="Logo 3"
                        class="animate-subir-descer4 me-2 img-fluid max-size imagens-container">
                    <img src="/static/img/logo1.png" alt="Logo 3"
                        class="animate-subir-descer2 me-2 img-fluid max-size imagens-container">
                </div>

                <div class="col-md-11 justify-content-start text-align">
                    <img src="/static/img/smart.gif" alt="Smart" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.getElementById('agendar-button').addEventListener('click', async function (event) {
        event.preventDefault();  // Impede o envio padrão do formulário

        const form = document.getElementById('agendamento-form');

        // Coleta os dados do formulário
        const formData = new FormData(form);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        try {
            // Envia os dados para o Django via fetch
            const response = await fetch('/core/agendar/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/x-www-form-urlencoded'  // Alterado para o formato de envio do Django
                },
                body: new URLSearchParams(data)  // Converte para o formato correto de URL-encoded
            });

            if (response.ok) {
                const result = await response.json();
                if (result.success) {
                    alert('Agendamento realizado com sucesso!');
                    // Não redirecionar, apenas limpar o formulário ou outro comportamento desejado
                } else {
                    alert('Erro ao agendar serviço: ' + result.message);
                }
            } else {
                alert('Falha ao enviar o agendamento.');
            }
        } catch (error) {
            console.error('Erro ao agendar:', error);
            alert('Ocorreu um erro ao tentar agendar.');
        }
    });


</script>


{% load static %}

<script src="{% static 'js/fetch_servicos.js' %}"></script>
<script src="{% static 'js/fetch_clinicas.js' %}"></script>
<script src="{% static 'js/fetch_colaboradores.js' %}"></script>
<script src="{% static 'js/fetch_dias_permitidos.js' %}"></script>
<script src="{% static 'js/fetch_horarios.js' %}"></script>
<script src="{% static 'js/verificar_data_valida.js' %}"></script>
<script src="{% static 'js/fetch_planos.js' %}"></script>
<script src="{% static 'js/fetch_clientes.js' %}"></script>
<script src="{% static 'js/atualizar_colaboradores.js' %}"></script>
<script src="{% static 'js/inicializar.js' %}"></script>



{% endblock %}